@model TEST_Models.Models.Product

<div class="modal fade dltModal" id="delete_prod" tabindex="-1" role="dialog" aria-labelledby="DeleteProdTitle" aria-hidden="true">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form method="post" asp-action="DeleteCon">
            <input asp-for="Id" hidden />
            <h5 style="text-align:center;color:cadetblue">Do you want to delete the product?</h5>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="close_modal">No</button>
        <button type="button" id="delProd" class="btn btn-primary" data-delete="dt_prod">Yes</button>
      </div>
    </div>
  </div>
</div>
